
<div class="container product-container">
{{# each products }}
    <div class="row">
        {{# each this }}
        <div class="col-md-4">
          <div class="card mb-4 border">
            <div class="card-body">
              <h4 class="card-text">{{ this.title }}</h4>
              <div class="d-flex justify-content-between align-items-center">
                <strong>$50</strong>
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-primary">Add to Cart</button>

                </div>
              </div>
            </div>
          </div>
        </div>
        {{/each}}
    </div>
{{/each}}
</div>
