
<div class="container pt-4 navbar-color">
  <nav class="navbar navbar-light navbar-expand-sm text-uppercase app-navbar py-3">
    <a class="navbar-brand mr-auto" href="../">
      <span>School Supply Kits</span>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item ">
          <a class="nav-link" href="..//index.html">Contact</a>
        </li>

      </ul>
    </div><!--/.nav-collapse -->
</nav>
</div>

<div class="bg block app-block-intro">
  <div class="text-xs-center header">
    <h1><strong>School Supply Kits</strong></h1>
    <p class="lead mb-5 pb-5">By Greater Opportunities Created.</p>
  </div>
</div>

<div class="block block-bordered-lg">
  <div class="container text-center app-translate-15" data-transition="entrance">
    <blockquote class="pull-quote">
      <img  src="img/pencil-box.svg">
      <p>
        "
        We believe a parent should spend more time with preparing for the academic and social challenges facing their child for the new school year rather then shopping. That is why our team creates custom school supply kits for the unique needs of different elementary institutions. We put our hearts into making this bundle for your child so that they may focus on their great opportunity. ”
      </p>
      <cite>Zubair Mughal, Co-Founder of GOC</cite>
    </blockquote>
  </div>
</div>

<div class="block block-bordered-lg pl-0 pt-0 pr-0">
  <div id="carousel-example-generic" class="carousel carousel-light slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <div class="block slider-color">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-sm-8">

                <p class="lead mx-auto text-center">"We saved so much time and money by purchasing ready made school supply kits" - Debra </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="block">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-sm-8">
                <p class="lead mx-auto text-center">
                  "I cannot believe how caring and thoughtful this service was. "
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="block slider-color">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-sm-8">

                <p class="lead mx-auto text-center">Eliminates students coming with the wrong items.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <a class="carousel-control-prev" href="#carousel-example-generic" role="button" data-slide="prev">
      <span class="icon icon-chevron-thin-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-example-generic" role="button" data-slide="next">
      <span class="icon icon-chevron-thin-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<div class="block block-bordered-lg pb-0 app-block-stats">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-md-6">
        <img
          src="img/pan-xiaozhen-423533.jpg"
          class="app-translate-5"
          data-transition="entrance">
        <hr class="mt-0 mb-5 mx-auto d-md-none">
      </div>
      <div class="col-lg-5 col-md-6 text-center text-md-left pb-5">
        <p class="lead">
          We enjoy creating custom made school supply kits for a variety of elementary institutions. During our journey we've learned the true value of time. On average, it takes a parent an hour and a half for each child to complete their school supply shopping.
        </p>

      </div>
    </div>
  </div>
</div>


<div class="block block-bordered-lg">
  <div class="container">
    <div class="row justify-content-center">
    <div class="col-sm-8 text-center mb-5">
      <p class="lead mx-auto">With <strong>years of collective experience</strong>, we take the requirements of the school and deliver a quality supply kit service.</p>

    </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <ul class="featured-list">
          <li class="mb-5">
            <div class="featured-list-icon text-primary">
              <span class="icon icon-image"></span>
            </div>
            <p class="featured-list-icon-text mb-0"><strong>Custom Made Kits</strong></p>
            <p class="featured-list-icon-text">
            Our school supply kits are custom built to match teachers' supply lists for any grade and delivered directly to your school.
            </p>
          </li>

          <li class="mb-5">
            <div class="featured-list-icon text-primary">
              <span class="icon icon-hour-glass"></span>
            </div>
            <p class="featured-list-icon-text mb-0"><strong>Time Savings</strong></p>
            <p class="featured-list-icon-text">
              You save tons of time by using our world class service. We remove the stressful and time consuming activity of school supply shopping. Your time is better spent with your child.
            </p>
          </li>

        </ul>
      </div>
      <div class="col-sm-6">
        <ul class="featured-list">

          <li class="mb-5">
            <div class="featured-list-icon text-primary">
              <span class="icon icon-pencil"></span>
            </div>
            <p class="featured-list-icon-text mb-0"><strong>High Quality Supplies</strong></p>
            <p class="featured-list-icon-text">
              Your child deserves the best. Each kit contains high quality, name brand school supplies and the program is easy to offer at your school.
            </p>
          </li>

          <li class="mb-5">
            <div class="featured-list-icon text-primary">
              <span class="icon icon-emoji-happy"></span>
            </div>
            <p class="featured-list-icon-text mb-0"><strong>Low Price</strong></p>
            <p class="featured-list-icon-text">
              We do not believe in sacrificing your wallet for good quality products. We find the best price for you.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>



  <div class="text-right app-block-design-img">
    <img src="img/iphone-reverse-perspective-sized.jpg" class="app-translate-50" data-transition="entrance">
  </div>
</div>

<div class="block block-bordered-lg text-center">
  <div class="container-fluid">
    <p class="lead mb-4">
      Get in touch to see what we can do for your school today!
    <form class="form-inline d-flex justify-content-center">
      <input class="form-control mb-3" placeholder="name">
      <input class="form-control mb-3 ml-sm-1"  placeholder="email">
      <button class="btn btn-primary mb-3 ml-sm-1">Submit</button>
    </form>

  </div>
</div>
<div class="container">
<form action="/charge" method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="{{stripePublishableKey}}"
    data-amount="5000"
    data-name="School Supply Kit"
    data-description="School Supply Kit HQA"
    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
    data-locale="auto">
  </script>
  <script>
          // Hide default stripe button
          document.getElementsByClassName('stripe-button-el')[0].style.display = 'none';
        </script>
        <button type="submit" class="btn btn-outline-dark btn-lg ">School Supply Kits for $50</button>
</form>
</div>


<div class="block app-block-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-2 mb-4">
        <ul class="list-unstyled list-spaced">
          <li><h6 class="text-uppercase" style="color:black;">Contact</h6></li>
          <li style="color:black;">info@goc.com</li>
        </ul>
      </div>


       <div class="col-sm-6">
        <h6 class="text-uppercase" style="color:black;">About</h6>
        <p style="color:black">We are a company focused on creating doors for the community. Our goal is to create a better chance for your child to suceed and grow.</p>
      </div>
    </div>
  </div>
</div>
