body, html {
    height: 100%;
}

.bg {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/../img/color_pencils.jpg");

}


.header{
  padding-top:150px;
  font-size: 1.5em;
}


.product-container{
  margin-top:50px;
}



.border-colorx{

    border-color: yellow;

}


.img-width{
  width:50%;
}

.card-space{
  margin-bottom:2em;
}

.img-width-sm{
  width: 45%;
  margin-bottom:1em;
}
